In [1]:
import pandas as pd
df = pd.read_csv('laptop_price.csv', sep = ',', encoding='latin-1')
df.tail(5)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.0
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.0
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.0
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.0
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.0

1.1 Создать новый признак Cpu_Company, который будет содержать только название фирмы, которая произвела CPU
1.2 Создать новый признак Memory_Amount, который будет содержать только количество Gb памяти без указания типа носителя
1.3 Создать новый признак Memory_Type, который будет содержать только тип носителя (HDD/SDD/др.)
1.4 Удалите признаки Memory и ScreenResolution

In [2]:
df['Cpu_Company'] = df['Cpu'].apply(lambda x: x.split(" ")[0])

In [3]:
def convert(x):
    memory = x.split(' ')[0]
    if memory.endswith('GB'):
        res = memory.replace('GB', '')
    elif memory.endswith('TB'):
        res = float(memory.replace('TB', '')) * 1024
    return int(res)

df['Memory_Amount'] = df['Memory'].apply(convert)

df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256

In [4]:
def convert2(x):
    memory = x.split(" ")
    res = memory[1:]
    return ' '.join(res)
    # return ' '.join(x.split(' ')[1: ])

df['Memory_Type'] = df['Memory'].apply(convert2)

In [5]:
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Flash Storage
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD

In [6]:
df.drop(columns=['Memory', 'ScreenResolution'], inplace=True)
df.head()

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Flash Storage
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD

2.1 Создайте признак SSD, который изначально равен 0
2.2 Поставьте в признаке SSD 1, если ноутбук действительно с типом носителя SSD
2.3 Уберите в признаке Weight значения 'kg' и поменяйте его тип данных на вещественный

In [19]:
df['SSD'] = 0
df.loc[df['Memory_Type'] == 'SSD', 'SSD'] = 1
df

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD,1
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Flash Storage,0
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD,1
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD,1
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,Intel Core i7 6500U 2.5GHz,4GB,Intel HD Graphics 520,Windows 10,1.8kg,638.00,Intel,128,SSD,1
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,Intel Core i7 6500U 2.5GHz,16GB,Intel HD Graphics 520,Windows 10,1.3kg,1499.00,Intel,512,SSD,1
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,Intel Celeron Dual Core N3050 1.6GHz,2GB,Intel HD Graphics,Windows 10,1.5kg,229.00,Intel,64,Flash Storage,0
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,Intel Core i7 6500U 2.5GHz,6GB,AMD Radeon R5 M330,Windows 10,2.19kg,764.00,Intel,1024,HDD,0
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,Intel Celeron Dual Core N3050 1.6GHz,4GB,Intel HD Graphics,Windows 10,2.2kg,369.00,Intel,500,HDD,0

In [20]:
df['Weight'] = df['Weight'].str.replace('kg', '').astype('float64')

Создайте датафрейм с клиентами:
clients = pd.DataFrame({
    'client_id': [45, 32, 67, 33, 43],
    'laptop_id': [506, 398, 710, 120, 1999]
})
laptop_id - это индексы датафрейма с ноутбуками
3.1 Присоедините к таблице clients данные по ноутбукам через метод join
3.2 Присоедините к таблице clients данные по ноутбукам через метод merge
Это нужно, чтобы понимать, какие ноутбуки покупались клиентами

In [21]:
clients = pd.DataFrame({
    'client_id': [45, 32, 67, 33, 43],
    'laptop_id': [506, 398, 710, 120, 1999]
})

In [22]:
clients2 = clients.set_index('laptop_id')

In [23]:
clients2

           client_id
laptop_id
506               45
398               32
710               67
120               33
1999              43

In [25]:
df2 = df.set_index('laptop_ID')

In [28]:
joined = clients2.join(df2)
joined.head()

,client_id,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
laptop_id,,,,,,,,,,,,,,,
506,45,Lenovo,ThinkPad L570,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256.0,SSD,1.0
398,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,67,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,AMD A12-Series 9720P 3.6GHz,8GB,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024.0,HDD,0.0
120,33,Dell,Inspiron 7570,Notebook,15.6,Intel Core i7 8550U 1.8GHz,8GB,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256.0,SSD + 1TB HDD,0.0
1999,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
merged = clients.merge(df, left_on='laptop_id', right_on='laptop_ID')
merged
# merged = clients.merge(df, on='laptop_id')

,client_id,laptop_id,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,45,506,506,Lenovo,ThinkPad L570,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256,SSD,1
1,67,710,710,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,AMD A12-Series 9720P 3.6GHz,8GB,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024,HDD,0
2,33,120,120,Dell,Inspiron 7570,Notebook,15.6,Intel Core i7 8550U 1.8GHz,8GB,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256,SSD + 1TB HDD,0

Составьте несколько сводных таблиц
4.1 Найдите среднюю стоимость ноутбуков в зависимости от компании производителя
Отсортируйте от меньшей стоимости к большей
4.2 Найдите минимальную, среднюю и максимальную стоимости ноутбуков в зависимости
 от производителя процессора
4.3 Постройте таблицу с подсчетом количества ноутбуков в данных в зависимости от 
производителя CPU и ОЗУ
4.4 Постройте таблицу с подсчетом средней стоимости ноутбуков в данных в зависимости
 от операционной системы и GB памяти

In [36]:
df.groupby('Company').agg({'Price_euros': 'mean'}).sort_values(by = 'Price_euros')

           Price_euros
Company
Vero        217.425000
Mediacom    295.000000
Chuwi       314.296667
Acer        626.775825
Fujitsu     729.000000
HP         1067.774854
Lenovo     1086.384444
Asus       1104.169367
Xiaomi     1133.462500
Dell       1186.068990
Toshiba    1267.812500
Samsung    1413.444444
Huawei     1424.000000
Apple      1564.198571
Microsoft  1612.308333
Google     1677.666667
MSI        1728.908148
LG         2099.000000
Razer      3346.142857

In [72]:
df.groupby('Cpu_Company').agg({'Price_euros': ['min', 'mean', 'max']}).sort_index(axis=1)

            Price_euros
                    max         mean    min
Cpu_Company
AMD              2199.0   560.638871  199.0
Intel            6099.0  1152.214145  174.0
Samsung           659.0   659.000000  659.0

4.3 Постройте таблицу с подсчетом количества ноутбуков в данных в зависимости от 
производителя CPU и ОЗУ

In [79]:
df.pivot_table(index='Cpu_Company', columns=['OpSys', 'Ram'],
               values='Weight', aggfunc='count'
).sort_values('')

KeyError: 'OpSys'

4.4 Постройте таблицу с подсчетом средней стоимости ноутбуков в данных в зависимости
 от операционной системы и GB памяти

In [66]:
round(df.pivot_table(index='OpSys', columns='Memory_Amount',
               values='Price_euros', aggfunc='mean',
               fill_value=0).sort_index(axis=0), 2)

Memory_Amount,8,16,32,64,128,180,240,256,500,508,512,1024,2048
OpSys,,,,,,,,,,,,,
Android,0,0.00,0.00,434.00,0.00,0.0,0,0.00,0.00,0,0.00,0.00,0.00
Chrome OS,0,305.38,412.45,774.33,1275.00,0.0,0,1559.00,0.00,0,2199.00,0.00,0.00
Linux,0,0.00,0.00,0.00,742.25,0.0,0,811.64,389.06,0,0.00,581.40,0.00
Mac OS X,0,0.00,0.00,0.00,1099.00,0.0,0,1311.99,0.00,0,1222.00,0.00,0.00
No OS,0,0.00,0.00,0.00,562.14,0.0,0,782.99,404.68,0,1098.50,540.54,594.00
Windows 10,2249,0.00,270.00,499.72,1026.49,1073.5,3100,1334.46,664.72,0,1911.99,904.83,666.95
Windows 10 S,0,0.00,0.00,309.00,1039.00,0.0,0,1668.95,0.00,0,2589.00,0.00,0.00
Windows 7,0,0.00,0.00,0.00,1320.32,1199.0,0,1846.47,924.05,1002,2235.40,1539.67,0.00
macOS,0,0.00,0.00,0.00,1119.32,0.0,0,1600.37,0.00,0,2180.87,0.00,0.00

5.1 Ноутбуков каких компаний и с каким процессором больше?
5.2 С каким типом памяти и с каким объемом памяти больше ноутбуков?

In [89]:
pd.crosstab(index=df['Company'], columns=df['Cpu_Company'], values=df['Price_euros'], aggfunc='mean').sort_values('AMD')

Cpu_Company         AMD        Intel  Samsung
Company
Acer         462.400000   644.450645      NaN
HP           482.402000  1126.547229      NaN
Lenovo       522.598125  1118.486157      NaN
Asus         883.090000  1120.712721      NaN
Apple               NaN  1564.198571      NaN
Chuwi               NaN   314.296667      NaN
Dell                NaN  1186.068990      NaN
Fujitsu             NaN   729.000000      NaN
Google              NaN  1677.666667      NaN
Huawei              NaN  1424.000000      NaN
LG                  NaN  2099.000000      NaN
MSI                 NaN  1728.908148      NaN
Mediacom            NaN   295.000000      NaN
Microsoft           NaN  1612.308333      NaN
Razer               NaN  3346.142857      NaN
Samsung             NaN  1507.750000    659.0
Toshiba             NaN  1267.812500      NaN
Vero                NaN   217.425000      NaN
Xiaomi              NaN  1133.462500      NaN

In [90]:
pd.crosstab(index=df['Memory_Type'], columns=df['Memory_Amount'])

Memory_Amount,8,16,32,64,128,180,240,256,500,508,512,1024,2048
Memory_Type,,,,,,,,,,,,,
Flash Storage,0,7,38,15,4,0,0,8,0,0,2,0,0
Flash Storage + 1TB HDD,0,0,0,1,0,0,0,0,0,0,0,0,0
HDD,0,0,1,0,1,0,0,0,132,0,0,224,16
HDD + 1TB HDD,0,0,0,0,0,0,0,0,0,0,0,1,0
Hybrid,0,0,0,0,0,0,0,0,0,1,0,9,0
SSD,1,3,6,1,76,5,1,412,0,0,118,14,0
SSD + 1.0TB Hybrid,0,0,0,0,0,0,0,1,0,0,1,0,0
SSD + 1TB HDD,0,0,0,0,94,0,0,73,0,0,14,2,0
SSD + 256GB SSD,0,0,0,0,0,0,0,2,0,0,1,0,0
SSD + 2TB HDD,0,0,0,0,2,0,0,10,0,0,3,0,0
SSD + 500GB HDD,0,0,0,0,0,0,0,2,0,0,0,0,0
SSD + 512GB SSD,0,0,0,0,0,0,0,0,0,0,1,0,0

# ПРИМЕР СОРТИРОВКИ ДВУМЕРНОЙ ТАБЛИЦЫ

In [129]:
df.pivot_table(index='Cpu_Company', columns=['OpSys', 'Memory_Amount'],
               values='Weight', aggfunc='count',
               fill_value=0
).sort_index(axis=0)

OpSys         Android Chrome OS                          Linux            ...  \
Memory_Amount    64        16   32   64   128  256  512   128  256  500   ...
Cpu_Company                                                               ...
AMD                 0         0    0    0    0    0    0     0    0    0  ...
Intel               2        10   10    3    1    1    1     4   16   11  ...
Samsung             0         0    1    0    0    0    0     0    0    0  ...

OpSys         Windows 7                               macOS
Memory_Amount      128  180  256  500  508  512  1024  128  256  512
Cpu_Company
AMD                   0    0    0    0    0    0    0     0    0    0
Intel                 3    1   25    6    1    6    3     2    6    5
Samsung               0    0    0    0    0    0    0     0    0    0

[3 rows x 45 columns]